body
  h1 Buscador Hadoop
  form(method="POST", action="/buscar")
    input(type="hidden", name="_method", value="PUT")
    p Buscador
      input(type="text", name="palabras")
    p
      input(type="submit")


  
